
body,
p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

.wrapper-white {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.wrapper-white p {
  letter-spacing: 0.55px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 100;
}

p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.tb-title {
  font-size: 35px;
  letter-spacing: 7.8px;
  margin: 16px 0 10px 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #333333;
  padding-left: 0;
  list-style: none;
}

.nav-link {
  color: #333333;
  line-height: normal;
  font-size: 17px;
  position: relative;
  font-weight: 300;
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #333333;
}

body {
    font-size: 20px;
    position: relative;
    line-height: 1.42857143;
    color: #333333;
    margin: 0;
    background-color: #fff;
    display: block;
}

* {
    box-sizing: border-box;
}

img.logo {
    height: 80px;
}

img {
    vertical-align: middle;
    border: 0;
}


div {
    display: block;
}

.eternal .row-one-item, {
    position: relative;
}

img.tableau {
    width: 100%;
}

hr.vr {
    border-top: none;
    border-left: 1px solid #333333;
    display: inline;
    margin-left: 4px;
    margin-right: 7px;
    font-size: 16px;
}

    hr {
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    height: 0;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.infos-mariage p {
    font-size: 19px;
    display: inline;
}


.tableau-description p {
    font-size: 66%;
    display: inline;
}

.tableau-description {
  text-align: right;
  margin-bottom: 20px;
}

.footer p {
    font-size: 80%;
    display: inline;
    font-weight: 100;
}

.footer {
    border-top: 1px solid #333333;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    padding: 15px 0;
}


.nav-link {
  color: rgb(51, 51, 51);
  line-height: normal;
  font-size: 17px;
  position: relative;
  padding: 0;
}

.nav-link:after {
  border-bottom: 1px solid transparent;
  width: 0px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
  outline: none;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.nav-link.active:after,
.nav-link:hover:after,
.nav-link:focus:after {
  border-bottom: 1px solid rgb(51, 51, 51);
  width: 100%;
}

.eternal .row-two-items .row-item:first-child {
    position: relative;
    width: calc(50% - 5px);
    margin-right: 10px;
}

.eternal .row-two-items .row-item:last-child {
    position: relative;
    width: calc(50% - 5px);
}

.eternal .row-two-items {
    display: flex;
    margin-bottom: 10px;
}

.eternal .row-one-item {
  margin-bottom: 55px;
}

.eternal .eternal-frame {
    border: 1px solid #2A2A2A;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 0px;
}

.eternal .eternal-frame h2 {
    font-family: 'Yeseva One';
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
}

.eternal .eternal-frame p {
    text-align: center;
    font-size: 17px;
    font-weight: 100;
}

.eternal .btn-cta {
    font-size: 18px;
}

.btn {
    font-weight: 300;
    line-height: normal;
}

.btn-cta {
    background-color: #2A2A2A;
    transition: all 0.6s ease-in-out;
    color: white;
    border-radius: 0;
    position: relative;
    padding: 13px 12px 10px 12px !important;
      border-radius: 4px;
}

.eternal img {

    width: 100%;
    border: 0
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Yeseva One';
    margin-top: 25px;
    line-height: 1.1;
    color: inherit;
    position: relative;
}

.eternal1 {
    box-sizing: border-box;
}

.eternal {
    box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
}



.cover-card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgda(0,0,0,0.2)
  display: flex;
}

.hotel-card {
    border-radius: 6px;
    box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.hotel-card .cover-card {
    background: #6f6d6f;
    background-size: cover;
    height: 160px;
    background-position: 50%;
    border-radius: 6px 6px 0 0;
}

.hotel-card .content-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    flex-direction: column;
    padding: 17px;
    z-index: 1;
    text-align: center;
}
.hotel-card .content-card a {
   color: #333333;
   line-height: normal;
   position: relative;
   font-weight: 300;
   padding-top: 10px;
 }

.hotel-card .content-card .card-link {
  font-size: 20px;
 }

 .hotel-card .content-card .card-link-under {
  font-size: 15px;
 }


@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
.cards {
    grid-template-columns: 1fr;
  }
}


@media(min-width: 991px) {
  .nav-container {
    margin: 0 100px ;
  }
  .rappel p {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 13px;
    margin-bottom: 0px;
  }
  .contact p {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 0px;
  }
}

@media(max-width: 768px) {
  .nav-container {
    margin-top: 10 -5px;
  }
  .nav-link {
    padding: 8px;
  }
  .rappel p {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 13px;
    margin-bottom: 0px;
  }
  .contact p {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 0px;
  }
}

@media(max-width: 768px) {
  .eternal .row-two-items {
    display: block;
  }
}
.eternal .row-two-items .row-item:first-child {
  width: 100%;
}

.eternal .row-two-items .row-item:last-child {
  width: 100%;
  margin-bottom: 0;
}

.eternal .row-two-items > .row-item > .row-two-items > .row-item {
  margin-bottom: 0;
}


#ou-se-garer{
  display: flex;
}

h2.product-title {
    font-family: 'Yeseva One';
    position: relative;
    margin-bottom: 22px;
    margin-top: 30px;
}


h2.product-title span {
    background: #fff;
    padding-right: 20px;
    z-index: 1;
}

h2.product-title:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: -1;
}

.cards2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
}

.transport-card {
    border-radius: 6px;
    border: 1px solid #2A2A2A;
}

.transport-card .cover-card {
    background: #6f6d6f;
    background-size: cover;
    height: 160px;
    background-position: 50%;
    border-radius: 6px 6px 0 0;
}

.transport-card .content-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    flex-direction: column;
    padding: 17px;
    z-index: 1;
    text-align: center;
}
.transport-card .content-card a {
   color: #333333;
   line-height: normal;
   position: relative;
   font-weight: 300;
   padding-top: 10px;
 }

.transport-card .content-card .card-link {
  font-size: 20px;
 }

 .transport-card .content-card .card-link-under {
  font-size: 15px;
 }










