body,
p {
  font-family: 'Josefin Sans', sans-serif;
}

/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}*/

.nav-container {
  position: relative;
  @media(min-width: 991px) {
    margin: 0 120px;
  }
  @media(max-width: 768px) {
    margin: 0 -5px;
  }
}

@media(max-width: 768px) {
  .row-two-items .row-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .row-two-items .row-item:last-child {
    margin-bottom: 0;
  }

  .row-two-items > .row-item > .row-two-items > .row-item {
    margin-bottom: 0;
  }
}

.wrapper-white {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.wrapper-white p {
  letter-spacing: 0.55px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 100;
}

p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.tb-title {
  font-size: 26px;
  letter-spacing: 7.8px;
  margin: 16px 0 10px 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #333333;
  padding-left: 0;
  list-style: none;
}

.nav-link {
  color: #333333;
  line-height: normal;
  font-size: 16px;
  position: relative;
  font-weight: 300;
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #333333;
}


body {
    font-size: 18px;
    position: relative;
    line-height: 1.42857143;
    color: #333333;
    margin: 0;
    background-color: #fff;
    display: block;
}

* {
    box-sizing: border-box;
}

img.logo {
    height: 80px;
}

img {
    vertical-align: middle;
    border: 0;
}


div {
    display: block;
}

.eternal .row-one-item, {
    position: relative;
    margin-bottom: 10px;
}

img.tableau {
    width: 100%;
}

hr.vr {
    border-top: none;
    border-left: 1px solid #333333;
    display: inline;
    margin-left: 4px;
    margin-right: 7px;
    font-size: 16px;
}

    hr {
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    height: 0;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.infos-mariage p {
    font-size: 66%;
    display: inline;
}


.tableau-description p {
    font-size: 66%;
    display: inline;
}

.tableau-description {
  text-align: right;
  margin-bottom: 20px;
}

.footer p {
    font-size: 80%;
    display: inline;
    font-weight: 100;
}

.footer {
    border-top: 1px solid #333333;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    padding: 15px 0;
}


.nav-link {
  color: rgb(51, 51, 51);
  line-height: normal;
  font-size: 16px;
  position: relative;
  padding: 0;
}

.nav-link:after {
  border-bottom: 1px solid transparent;
  width: 0px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
  outline: none;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.nav-link.active:after,
.nav-link:hover:after,
.nav-link:focus:after {
  border-bottom: 1px solid rgb(51, 51, 51);
  width: 100%;
}

.eternal .row-two-items .row-item:first-child {
    position: relative;
    width: calc(50% - 5px);
    margin-right: 10px;
}

.eternal .row-two-items .row-item:last-child {
    position: relative;
    width: calc(50% - 5px);
}

.eternal .row-two-items {
    display: flex;
    margin-bottom: 10px;
}

.eternal .eternal-frame {
    border: 1px solid #2A2A2A;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    margin-bottom: 0px;
}

.eternal .eternal-frame h2 {
    font-family: 'Yeseva One';
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
}

.eternal .eternal-frame p {
    text-align: center;
    font-size: 17px;
    font-weight: 100;
}

.eternal .btn-cta {
    font-size: 18px;
}

.btn {
    font-weight: 300;
    line-height: normal;
}

.btn-cta {
    background-color: #2A2A2A;
    transition: all 0.6s ease-in-out;
    color: white;
    border-radius: 0;
    position: relative;
    padding: 13px 12px 10px 12px !important;
}

.eternal img {

    width: 100%;
    border: 0
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Yeseva One';
}

.eternal1 {
    box-sizing: border-box;
}

.eternal {
    box-sizing: border-box;
}

.card {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-basis: 250px
    flex-grow: 1;
}

.card img {
    width: 300px;
    border-radius: 2px;
}

.card p {
  flex-grow: 1;
  padding-left: 0px;
  font-size: 15px;
}

.card  a {
  margin-top: 10px;
  font-size: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


